#mentors
  %p.description Our website uses the Ruby on Rails framework in order to operate. This framework is used by very popular companies like NASA, Cisco, amazon.com, IBM, Oracle, Yahoo!, Siemens, EA Games, BBC, and C|Net. The files that make up the site are coded in HAML and SASS, so that code writing is as efficient as possible. HAML and SASS are basically equivalent to HTML and CSS, and they both come out in the end as HTML and CSS to the browser. The difference is that it is much more efficient in coding. Large amounts of dynamic content can be added very easily, and it's simple to add a new page without having to re-write the entire layout over again. Another advantage is that HAML does not use ending tags. Instead, it relies on white space and tabs. Ruby on Rails is a Model View Controller (MVC) type of framework. It was first described in 1979 by Trygve Reenskaug who worked at Xerox. In a very basic description, the model is an object that represents data, the view is the visualization of the model, and the controller can change the state of the model.
  %p Here we have two images. One is the sponsors page in HTML, and one is written in HAML.
  = image_tag 'haml.jpg', width: '50%', align: 'left'
  = image_tag 'html.jpg', width: '50%', align: 'right'
  <br>
  %p For more information about how Ruby on Rails works, please visit their website.