#subteams
  %h1.subteam Electrical
  %div.teamlead
    %p.teamlead Team Lead: Juan Laza
    %div.centeredImage
      = image_tag 'juanweb.png'
  %h2.subteam Members:
  <br>
  %div.member
    %h3 Anthony Baksh
    %p Senior
  %div.member
    %h3 Sydney Dawes
    %p Freshman
  %div.member
    %h3 Juan Laza
    %p Senior
  %div.member
    %h3 Corey Mapes
    %p Sophomore
  %div.member
    %h3 Richard Scott
    %p Senior
  %div.member
    %h3 Tamara Sorto
    %p Senior