#subteams
  %h1.subteam Marketing
  %div.teamlead
    %p.teamlead Team Lead: Emma Sandell
  %h2.subteam Members:
  <br>
  %div.member
    %h3 Jessica Dendulk
    %p Senior
  %div.member
    %h3 Katelyn Enger
    %p Senior
  %div.member
    %h3 Sarah Gonzalez
    %p Junior
  %div.member
    %h3 Corey Mapes
    %p Senior
  %div.member
    %h3 Sarah Partridge
    %p Senior
  %div.member
    %h3 Ruchi Patel
    %p Senior
  %div.member
    %h3 Schvanie Rambarran
    %p Senior
  %div.member
    %h3 Emma Sandell
    %p Senior
  %div.member
    %h3 Dustin Townsend
    %p Junior
  %div.member
    %h3 Aleisha Wilson
    %p Senior