#subteams
  %h1.subteam Mechanical
  %div.teamlead
    %p.teamlead Team Lead: Cody Mannifield
    %div.centeredImage
      = image_tag 'codyweb.jpg'
  %h2.subteam Members:
  <br>
  %div.member
    %h3 Stan Aviles
    %p Freshman
  %div.member
    %h3 Kaylin Clark
    %p Sophomore
  %div.member
    %h3 Sheyra Concepcion
    %p Junior
  %div.member
    %h3 Justin Farley
    %p Junior
  %div.member
    %h3 Peter Fiji
    %p Senior
  %div.member
    %h3 Bradley Hernandez
    %p Sophomore
  %div.member
    %h3 Tyler Hughes
    %p Junior
  %div.member
    %h3 Cody Mannifield
    %p Senior
  %div.member
    %h3 Robert Mannifield
    %p Freshman
  %div.member
    %h3 Mackenzie Mcglone
    %p Senior
  %div.member
    %h3 George Neher
    %p Sophomore
  %div.member
    %h3 Tesi Washington
    %p Freshman