#mentors
  %p.description These are all the wonderful mentors that help us achieve our goals. They are responsible for the success and knowledge in our team, and we are glad we have so many.
  %div.mentor
    %h2 Gavin Barnes
    %p Bio goes here.
  %div.mentor
    %h2 Matt Bartoe
    %p Bio goes here.
  %div.mentor
    %h2 Ricardo Arencibia
    %p Bio goes here.
  %div.mentor
    %h2 Cliff Berkley
    %p Bio goes here.
  %div.mentor
    %h2 Jane Berkley
    %p Bio goes here.
  %div.mentor
    %h2 Adrian Goetz
    %p Bio goes here.
  %div.mentor
    %h2 Evan Herndon
    %p Bio goes here.
  %div.mentor
    %h2 Nancy Lanning
    = image_tag 'nancylanning.jpg', width: '30%', align: 'right'
    %p Nancy has worked the past 15 years for Oracle Corporation.  Her current role is a Senior Software Support Manager for the Applications Integrations Architecture team.  Previously, she has worked at Harris Corporation, USF&G Insurance Company and B. Green and Company in a Programmer/analyst role.  She has an undergrad degree in Business Administration with her major being in Information Systems.   She currently resides in St. Cloud with her husband and 3 sons.
  %div.mentor
    %h2 Mike Sandell
    %p Bio goes here.
  %div.mentor
    %h2 Kevin Thomas
    %p Bio goes here.
  %div.mentor
    %h2 Jeannie Clark
    %p Bio goes here.
  %div.mentor
    %h2 Eric Bourgeois
    %p Bio goes here.
  %div.mentor
    %h2 Ethan Pemble
    %p Bio goes here.
  %div.mentor
    %h2 Joanne Sirois
    %p Bio goes here.
