#subteams
  %h1.subteam Programming
  %div.teamlead
    %p.teamlead Team Lead: Walter Hernandez
    %div.centeredImage
      = image_tag 'walterweb.jpg'
  %h2.subteam Members:
  <br>
  %div.member
    %h3 Alexander Alvarez
    %p Sophomore
  %div.member
    %h3 Tiffany Anglero
    %p Senior
  %div.member
    %h3 Chris Feauto
    %p Junior
  %div.member
    %h3 James Gallon
    %p Sophomore
  %div.member
    %h3 Andrew Geltz
    %p Junior
  %div.member
    %h3 German Gamboa
    %p Junior
  %div.member
    %h3 Devin Gorley
    %p Sophomore
  %div.member
    %h3 Walter Hernandez
    %p Senior
  %div.member
    %h3 Abdulslam Khan
    %p Freshman
  %div.member
    %h3 Mike Lopez
    %p Freshman