.box
  %p &#169; 2012 Mekheads 1604
  <br>
  %p <a href="http://www.CynthiaSays.com/org/cynthiatested.htm"><img border="0" src="http://www.CynthiaSays.com/images/Ctested.gif" alt="Cynthia Tested!" height="31" width="88"></a>
