.box
  %p &#169; 2012 Mekheads 1604
  <br>
  %p 
    <a href="http://www.CynthiaSays.com/org/cynthiatested.htm"><img src="http://www.CynthiaSays.com/images/Ctested.gif" alt="Cynthia Tested!" height="31" width="88"></a>
    = link_to image_tag( 'html5.png'), 'http://validator.w3.org/check?uri=http%3A%2F%2Fmekheads.org%2F'
