.box
  #bar
    %ol
      %li= link_to 'The Team', team_path
      %li= link_to 'Our History', root_path
      %li= link_to 'Our Mentors', mentors_path
      %li= link_to 'Our Sponsors', sponsors_path
